body{background-color:#222;color:#fff}.rk-header{background-color:#393939;background:linear-gradient(90deg,#393939,#7a7a7a 50%,#393939);color:hsla(0,0%,100%,.7);height:40px}.rk-sign-in:hover{color:#fff;text-decoration:underline}.rk-sidebar{background-color:#2a2a2a!important}.rk-sidebar .nav-link{color:#fff}.rk-sidebar .rk-sidebar-header{border-top-color:hsla(0,0%,100%,.1);color:hsla(0,0%,100%,.7)}.rk-main .rk-content-title{color:#7a7a7a}
