body{background-color:#170505;color:#fff}.rk-header{background-color:#270808;background:linear-gradient(90deg,#270808,#bb1b1b 50%,#270808);color:hsla(0,0%,100%,.7);height:40px}.rk-sign-in:hover{color:#fff;text-decoration:underline}.rk-sidebar{background-color:#1d0606!important}.rk-sidebar .nav-link{color:#fff}.rk-sidebar .rk-sidebar-header{border-top-color:hsla(0,0%,100%,.1);color:hsla(0,0%,100%,.7)}.rk-main .rk-content-title{color:#bb1b1b}
