@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Holtwood+One+SC);
@import url(https://fonts.googleapis.com/css?family=Righteous);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);

$body-font: 'Roboto';
$heading-font: 'Righteous';
$logo-font: 'Holtwood One SC';
$mono-font: 'Roboto Mono';

$background: #12141a;
$color: #f5f5f5;

//$nav-background: #2a2c46;
//$nav-border: #2a2c51;
//$nav-link-color: #6e84a9;

$blizzard-blue: #212529;

$nav-background: #212529;

// This border goes around our header, footer, and main container
$sectional-border: rgba(0, 116, 224, 0.4);
$logo-color: rgba(0, 116, 224, 0.9);
$nav-link-color: #f5f5f5;

// This is the background for our sectional containers --
$sectional-background: #212529;


.fac-horde {
  color: #f0080e;
}

.fac-alliance {
  color: #007dd0;
}

.cls-deathknight {
  color: #c41e3a;
}

.cls-demonhunter {
  color: #a330c9;
}

.cls-druid {
  color: #ff7c0a;
}

.cls-hunter {
  color: #aad372;
}

.cls-mage {
  color: #3fc7eb;
}

.cls-monk {
  color: #00ff98;
}

.cls-paladin {
  color: #f48cba;
}

.cls-priest {
  color: #ffffff;
}

.cls-rogue {
  color: #fff468;
}

.cls-shaman {
  color: #0070dd;
}

.cls-warlock {
  color: #8788ee;
}

.cls-warrior {
  color: #c69b6d;
}


// Backgrounds
$color-background-opacity: 0.04;
.bk-horde {
  background-color: rgba(240, 8, 14, $color-background-opacity) !important;
}

.bk-alliance {
  background-color: rgba(0, 125, 208, $color-background-opacity) !important;
}

.bk-deathknight {
  background-color: rgba(196, 30, 58, $color-background-opacity) !important;
}

.bk-demonhunter {
  background-color: rgba(163, 48, 201, $color-background-opacity) !important;
}

.bk-druid {
  background-color: rgba(255, 124, 10, $color-background-opacity) !important;
}

.bk-hunter {
  background-color: rgba(170, 211, 114, $color-background-opacity) !important;
}

.bk-mage {
  background-color: rgba(63, 199, 235, $color-background-opacity) !important;
}

.bk-monk {
  background-color: rgba(0, 255, 152, $color-background-opacity) !important;
}

.bk-paladin {
  background-color: rgba(244, 140, 186, $color-background-opacity) !important;
}

.bk-priest {
  background-color: rgba(255, 255, 255, $color-background-opacity) !important;
}

.bk-rogue {
  background-color: rgba(255, 244, 104, $color-background-opacity) !important;
}

.bk-shaman {
  background-color: rgba(0, 112, 221, $color-background-opacity) !important;
}

.bk-warlock {
  background-color: rgba(135, 136, 238, $color-background-opacity) !important;
}

.bk-warrior {
  background-color: rgba(198, 155, 109, $color-background-opacity) !important;
}

body {
  padding-top: 57px;
  font-size: 1.1rem;
  background-color: $background;
  color: $color;
  font-family: $body-font, sans-serif;
}

.header {
  border-bottom: 1px solid;
}

.footer {
  border-top: 1px solid;
  padding-top: 20px;
}

.body-container {
  padding: 20px 10px;
  border-right: 1px solid;
  border-left: 1px solid;
}

.header, .footer, .body-container, .subsection, .form-control, .form-control:focus, .form-control:disabled, .form-select, .form-select:focus, .form-select:disabled {
  background: $sectional-background;
  border-color: $sectional-border;
  color: $color;
}

.input-group-text {
  background: #212529;
  border-color: rgba(0, 116, 224, 0.4);
  color: #f5f5f5;
}

.submit-embedded, .submit-embedded:hover {
  background: rgba(0, 116, 224, 0.4);
  color: #f5f5f5;
}

.subsection {
  border: 0px solid #333;
}

.footer-list {
  list-style-type: none;
  padding: 0px;
}

.footer-list a {
  text-decoration: none;
  color: $nav-link-color;
  font-size: 0.95rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.footer-copyright {
  font-size: .75rem;
}

.navbar-brand {
  font-family: $logo-font;
  //--webkit-text-stroke: 5px rgba(0, 116, 224, .9);
  color: $logo-color;
  font-size: 1.75rem;
  padding-top: 0;
  padding-bottom: 0;
}

.subnav-text {
  color: $logo-color;
  border-right: 1px solid #333;
  padding: 10px 15px;
}

.first-menu-option {
  border-left: 1px solid #333;
}

.nav-item {
  font-family: $heading-font;
  font-weight: 500;
  padding-left: 15px;
  padding-right: 15px;
  border-left: 1px solid lighten($sectional-background, 5%);
  border-right: 1px solid lighten($sectional-background, 5%);
}

.navbar-nav .nav-link {
  color: $nav-link-color;
}

.card, .list-group-item, .table, .table>:last-child>* {
  background: $sectional-background;
  color: $color;
  border-color: #333;
  border-bottom-color: #333 !important;
  font-size: 1.2rem;
}

.card-header {
  font-family: $heading-font;
  font-weight: 300;
}

.table {
  background: $sectional-background;
  color: $color;
}

.btn-empty {
  color: darken($color, 20%);
  border-color: $sectional-border;
  background-color: inherit;
}

.roster-icon {
  height: 32px;
  width: 32px;
}

.raid-buff {
  border: 1px solid white;
}

.raid-cd {
  border: 1px solid green;
}

.roster-row {
  vertical-align: middle;
  padding-top: 8px !important;
  padding-bottom:8px !important;
}

.mono-font {
  font-family: $mono-font, sans-serif;
}
